<div class="controls">
  <label><i>Select riders and laps:</i></label>
  <div *ngFor="let tracker of uniqueTrackers" class="rider-option">
    <div [ngClass]="{'selected-rider': isTrackerSelected(tracker)}" class="rider-selection">
      <input 
        type="checkbox" 
        [value]="tracker" 
        (change)="onTrackerToggle(tracker, $event)">
      <span>Rider {{ tracker }}</span>
      <div *ngIf="isTrackerSelected(tracker)" class="color-circle-small" [ngStyle]="{'background-color': getColorForTracker(tracker)}"></div>
    </div>
    <div *ngIf="selectedTrackers.has(tracker)" class="laps-section laps-background">
      <input 
        class="all-laps-checkbox"
        type="checkbox"
        id="all-laps-{{tracker}}"
        (change)="onLapToggle(tracker, -1, $event)">
      All Laps

      <div *ngFor="let lap of availableLaps[tracker]" class="lap-option">
        <input 
          type="checkbox" 
          [value]="lap" 
          [checked]="selectedLaps[tracker].has(lap)"
          (change)="onLapToggle(tracker, lap, $event)">
        Lap {{ lap }}
      </div>
    </div>
  </div>
</div>

<!-- Show the time slider only if at least one rider is selected -->
<div *ngIf="selectedTrackers.size > 0" class="time-slider-container">
  <span class="start-time">{{ startTime }}</span>

  <div class="lap-indicators">
    <div *ngFor="let tracker of selectedTrackers">
      <div *ngFor="let lap of getLapStartEnd(tracker)" 
           class="lap-indicator" 
           [ngStyle]="{'left': getLapIndicatorPosition(lap.time), 'color': getColorForTracker(tracker), 'bottom': getIndicatorOffset(lap.time, tracker) + 'px'}"
           (click)="moveSliderToTime(lap.time)">
        <div class="lap-indicator-box" [ngStyle]="{'background-color': getColorForTracker(tracker)}">
          {{ lap.label }}
        </div>
        <div class="lap-indicator-arrow" [ngStyle]="{'border-top-color': getColorForTracker(tracker)}"></div>
      </div>
    </div>
  </div>

  <input 
    type="range" 
    min="0" 
    [max]="maxTimeIndex" 
    [(ngModel)]="selectedTimeIndex" 
    (input)="onTimeChange($event)" 
    class="time-slider">

  <span class="current-time">{{ currentTime }}</span>
  <span class="end-time">{{ endTime }}</span>
</div>

<div class="info-display-container">
  <div *ngFor="let tracker of selectedTrackers">
    <div *ngIf="selectedLaps[tracker] && selectedLaps[tracker].size > 0" 
         [ngClass]="{'inactive': !trackerData[tracker].isActive}" 
         class="speed-info">
      <div class="color-circle" [ngStyle]="{'background-color': getColorForTracker(tracker)}"></div>
      <ng-container *ngIf="trackerData[tracker].isActive; else inactiveState">
        <span class="speed-value">Speed: <span class="speed-bold">{{ trackerData[tracker].speed | number:'1.0-2' }}</span> km/h | </span>
        <span class="speed-value">s: {{ trackerData[tracker].s | number:'1.0-0' }} | </span>
        <span class="speed-value">d: {{ trackerData[tracker].d | number:'1.2-2' }}</span>
      </ng-container>
      <ng-template #inactiveState>
        <span class="speed-value">Not on a track</span>
      </ng-template>
    </div>
  </div>
</div>

<div>
  <canvas baseChart
          [data]="scatterChartData"
          [options]="scatterChartOptions"
          [type]="scatterChartType">
  </canvas>
</div>